<%- include('../partials/header') %>

<h1><%= playlist.name %></h1>

<section id="show-page">
    <table id="list">
        <thead>
            <tr>
                <th>Title</th>
                <th>Artist</th>
                <th>Ft</th>
                <th>Album</th>
                <th></th>
                
            </tr>
        </thead>
        <tbody>
            <%- playlist.songs.map(s => 
                    // Breaks app when adding direct route for details
                `<tr>
                    <td>${s.title}</td>
                    <td>${s.artist}</td>
                    <td>${s.featured}</td>
                    <td>${s.album}</td>
                    <td><a href="/songs/${s._id}">DETAILS</a></td>
                    <td>
                        <form action="/playlists/${playlist._id}/songs/${s._id}?_method=DELETE" class="delete-form" method="POST">
                            <button type="submit">X</button>
                        </form>
                    </td>
                </tr>`
                ) %>
        </tbody>
    </table>
</section>

<form id="add-song-to-play" action="/playlists/<%= playlist._id %>/songs" method="POST">
    <select name="songId">
      <%- songs.map(s =>
        `<option value="${s._id}">${s.title}</option>` 
      ).join('') %>
    </select>
    <button type="Submit">Add to Playlist</button>
  </form>

<%- include('../partials/footer') %>